<div class="data">
	<h1>Youtube Video Downloader</h1>
	<form class="form">
		<input type="url" name="url" id="urlInput" placeholder="Enter video url" />
		<button type="submit" class="dld-btn">Download</button>
	</form>
</div>
<div class="loading">

	<div>
	</div>

</div>